
<br/>
{{ "Votre Code Réservation :"|trans }}
{{ booking.code }}
<br/>
{{ booking.email }}
<br/>
{{ booking.bookingFor|date('d/m/Y') }}
<br/>
{% if booking.type !='day' %}
    {{ "Journée"|trans }}
{% else %}
    {{ "Demi-Journée"|trans }}
{% endif %}

<br/><br/>
<table>
    <caption>{{ "Tickets liés à votre Réservationr"|trans }}</caption>
    <thead>
    <tr>
        <th>{{ "Name"|trans }}</th>
        <th>{{ "Surname"|trans }}</th>
        <th>{{ "Country"|trans }}</th>
        <th>{{ "Price"|trans }}</th>
        <th>{{ "Code"|trans }}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th colspan="4">{{ "Total"|trans }}</th>
        <th>
            {% set orderAmountScreen = orderAmount / 100 %}
            {{ orderAmountScreen }}
        </th>
    </tr>
    </tfoot>
    <tbody>

    {% for ticket in booking.tickets %}
        {#{{ ticket.id }}#}
        <tr>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.surname }}</td>
            <td>{{ ticket.country }}</td>
            <td>
                {{ ticket.price }}
            </td>

            <td>{{ ticket.code }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% set order_resume = path('_new_booking', {'code': booking.code}) %}
    <a href="{{ order_resume }}"><img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl={{ order_resume }}" /></a>
