{# src/Surikat/BookingBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}Billeterie du Louvre{% endblock %}

{% block body %}
  <!-- Nav => Top Menu : "Topo" -->
  <nav id="topMenu">
    <div id="topo">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-ms-6 col-xs-6" id="logo-topo">
            <a href="{{ path('surikat_booking_homepage')}}">
              <h2 class="app-title">LE LOUVRE - BILLETERIE</h2>
            </a>
          </div>
          <div class="col-md-6 col-ms-6 col-xs-6" id="abre-menu-topo">
            <a href="#" class="btn-collapse">
              <div class="lista-collapse"></div>
              <div class="lista-collapse"></div>
              <div class="lista-collapse"></div>
            </a>
          </div>
        </div>
        <!-- End Of Row_1 -->
        <div class="row">
          <ul id="menu-topo">
            <li>
              <a href="{{ path('_booking')}}">RESERVER</a>
            </li>
            <li>
              <a href="{{ path('_show')}}">MA RESERVATION</a>
            </li>
            <li>
              <a target="_blank" href="http://www.louvre.fr/">LE MUSEE DU LOUVRE : LE SITE</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Of Container -->
    </div>
    <!-- End of TopMenu "Topo"-->
  </nav>
  <!-- End of Nav -->

  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="pull-alert">
        <div id="alert-info" class="alert alert-{{type}} pull-right">
          <button type="button" class="btn btn-default btn-circle btn-xl-alert btn-lateral btn-float-alert">
            <i class="fa fa-info-circle fa-4"></i>
          </button>
          <hr class="hr-alert">
          <strong>{{message}}</strong>
        </div>
      </div>
      
    {% endfor %}
  {% endfor %}
{% endblock %}
